<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log History - Subdomain finder</title>
    <link rel="icon" href="../static/icon/page.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="stylesheet" href="../static/CSS/history.css">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">Subdomain Finder</a>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Logs</a></li>
                    <li><a href="/stats">Statistics</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <h1>Log History</h1>
        <section class="logs-container" id="logHistory">
            <p>Loading logs...</p>
        </section>
        <div class="actions">
            <button class="btn" onclick="downloadLogs()">Download Logs</button>
        </div>
    </main>

    <script> src="../static/JS/history.js"</script>
</body>
</html>
