<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Viewer - Subdomain finder</title>
    <link rel="icon" href="../static/icon/page.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>     
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">Subdomain Finder</a>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/stats">Statistics</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <h1>Logs for service: Subdomain-finder</h1>
        <section class="log-section">
            <h2>Docker logs</h2>
            <div id="logContainer" class="log-container"></div>
        </section>
        <div class="actions">
            <button class="btn" id="scrollBottom">Scroll to bottom</button>
            <button class="btn" id="clearLogs">Clear</button>
        </div>
    </main>
    <script src="../static/JS/index.js"></script>
</body>
</html>
